.chat-side
  .side-header
    .side-header__box
      .side-header__box__username masa
      =current_user.name
      .side-header__box__items 
        =link_to "#",class: "side-header__box__items__edit" do
          =icon('fas', 'edit',class: ".side-header__box__items__edit")
        =link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon')
        
  .groups-list
    .group-name 
      =link_to "#", class: "groups-list__group-name" do
        user
    .group-message 
      =link_to "#", class: "groups-list__group-message" do
        おはよう

  